<html>
   <head>
      <title>Angular JS Includes</title>
      
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
      <h2>AngularJS Sample Application</h2>
      <div ng-app = "" ng-controller = "studentController">
      	Name: {{data.name}}</br><br>
      	<!--round Name: {{students.rounds}}-->
      	
      	<div ng-repeat="model in data.rounds ">
		  Round Name: {{model.name}}
		  
		  <div ng-repeat="model1 in model.matches ">
		  	{{model1.team1.name}} VS {{model1.team2.name}}</br>
		  	Team {{model1.team1.name}} Score: {{model1.score1}}
		  	Team {{model1.team2.name}} Score: {{model1.score2}}</br><br>
		  	
		  	

		  	
		  </div>


	    </div>	
	    ************Play OFF*****************
		  	{{playOffData}}

		************day 2*****************
		  	{{Matchday2}}
	    <!--<div ng-app = "" ng-controller = "playOff">
	    	<div ng-repeat="model in playOffData">
		  	***********playoff data********** 
		  		{{model}
		  		{{playOffData}}
		  		
		  	</div>

	    </div>-->
	     


      </div>

      
		      
      <script>
      	var url = "https://raw.githubusercontent.com/openfootball/football.json/master/2015-16/en.1.json";

         function studentController($scope,$http) {
            
            $http.get(url).then( function(response) {
               $scope.data = response.data;
              // console.log($scope.data)
               var totalData=$scope.data.rounds
               Object.keys(totalData).forEach(function(value){
               	  //console.log(totalData[value])
               	  if(totalData[value]["name"] === "Play-Off um 1 Premierleague-Platz:"){
               	  	console.log(totalData[value]["matches"])
               	  	$scope.playOffData = totalData[value]

               	  } else if(totalData[value]["name"] === "Matchday 2"){
               	  	$scope.Matchday2 = totalData[value]
               	  } else {

               	  }
               });
            });
         }

         /*function playOff($scope,,$http){
         	$http.get(url).then( function(response) {
               // console.log($scope.data)
               var totalData=$scope.data.rounds
               Object.keys(totalData).forEach(function(value){
               	  //console.log(totalData[value])
               	  if(totalData[value]){
               	  	console.log(totalData[value]["matches"])
               	  	$scope.playOffData = totalData[value]
               	  }
               });
            });
         }*/

      </script>
      
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
      
   </body>
</html>
