<html>

<head>
    <script src="libs/angular.min.js"></script>
    <title>Angular JS Includes</title>
    <style>
    table,
    th,
    td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
    </style>
</head>

<body ng-app>
    <h2>AngularJS Sample Application</h2>
    <div ng-controller="firstController">
        <h2>Model managed by the first controller</h2>
        <strong>First name:</strong> {{firstName}}
        <br />
        <strong>Last name:</strong> <span ng-bind="lastName"></span>
        <br />
        <strong>Full name:</strong> {{getFullName()}}

    </div>
    <div ng-controller="secondController">
        <h2>Model managed by the second controller</h2>
        <strong>First name:</strong> {{firstName}}
        <br />
        <strong>Middle name:</strong> {{middleName}}
        <br />
        <strong>Last name:</strong> <span ng-bind="lastName"></span>
        <br />
        <strong>Full name:</strong> {{getFullName()}}
        <br />
    </div>
    <div ng-controller="studentController">
        <h4>Name: {{data.name}}</h4>
        <br>
        <div ng-repeat="model in data.rounds ">
            <b>Round Name </b> {{model.name}}
            <div ng-repeat="model1 in model.matches ">
                {{model1.team1.name}} VS {{model1.team2.name}}</br>
                Team {{model1.team1.name}} Score: {{model1.score1}} Team {{model1.team2.name}} Score: {{model1.score2}}</br>
                <br>
            </div>
        </div>
        ************Play OFF***************** {{playOffData}} ************day 2***************** {{Matchday2}}
    </div>
    <div ng-controller="studentControllers">
        <h4>Name: {{datas.name}}</h4>
    </div>
    <script>
    var url = "data/data.json";

    function studentController($scope, $http) {
        $http.get(url).then(function(response) {
            $scope.data = response.data;
            var totalData = $scope.data.rounds
            Object.keys(totalData).forEach(function(value) {
                if (totalData[value]["name"] === "Play-Off um 1 Premierleague-Platz:") {
                    console.log(totalData[value]["matches"])
                    $scope.playOffData = totalData[value]
                } else if (totalData[value]["name"] === "Matchday 2") {
                    $scope.Matchday2 = totalData[value]
                } else {}
            });
        });
    }

    function studentControllers($scope, $http) {
        $http.get(url).then(function(response) {
            $scope.datas = response.data;
            var totalData = $scope.datas.rounds
            Object.keys(totalData).forEach(function(value) {
                if (totalData[value]["name"] === "Play-Off um 1 Premierleague-Platz:") {
                    console.log(totalData[value]["matches"])
                    $scope.playOffData = totalData[value]
                } else if (totalData[value]["name"] === "Matchday 2") {
                    $scope.Matchday2 = totalData[value]
                } else {}
            });
        });
    }

    var firstController = function($scope) {
        // Initialize the model variables
        $scope.firstName = "John";
        $scope.lastName = "Doe";

        // Define utility functions
        $scope.getFullName = function() {
            return $scope.firstName + " " + $scope.lastName;
        };
    };

    var secondController = function($scope) {
        // Initialize the model variables
        $scope.firstName = "Bob";
        $scope.middleName = "Al";
        $scope.lastName = "Smith";

        // Define utility functions
        $scope.getFullName = function() {
            return $scope.firstName + " " + $scope.middleName + " " + $scope.lastName;
        };
    };
    </script>
</body>

</html>